# Server Configuration
PORT=5000
NODE_ENV=production
JWT_SECRET=m_technovate_enterprise_super_secret_jwt_key_2026

# Google SMTP Credentials (for candidate ATS interview invitations & offer emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mtechnovatesolutions@gmail.com
SMTP_PASS=gdnpjxqbjyodgedu
SMTP_FROM_EMAIL=mtechnovatesolutions@gmail.com
SMTP_FROM_NAME=M TECHNOVATE Recruitment

# Firebase Project Configuration
FIREBASE_PROJECT_ID=m-technovate-attendance
